<br>
<h1>Topic : {{title}}</h1>
<br>
<h3>Implementing the two-factor authentication in this simple site. <br>
This site needs to install the application from the Google-Play Store or App Store called Google Authenticator</h3>
<br>

