<!DOCTYPE html>
<html>
  <head>
    <title>{{Title}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{!-- here i use .. double periods just to display image in the title bar. --}}
    <link rel="icon" type="image/png" href="../images/image.png" /> 

  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Links -->

    <ul class="navbar-nav">
      {{!-- here i use / before images so that logo should be there in the navbar when the get handler of the /2FA/ called. --}}
        <img class="nav-link" src="/images/image2.png" style="height:60px;" alt="">
    </ul>
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      

          {{!-- <li class="nav-item">
            <a class="nav-link" href="/2FA/">Enable 2FA</a>
          </li> --}}
 
     
    </ul>
    <ul class="navbar-nav ml-auto">

      {{#if user}}
      
      <li class="nav-item ">
        <a class="nav-link" href="">{{user.username}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {{else}}
      <li class="nav-item ">
        <a class="nav-link" href="/Login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/Register">Register</a>
      </li>

      {{/if}}
      
    </ul>
  </nav>

    <main>
      {{{body}}}
    </main>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
