<h3 class="alert alert-success">{{title}}</h3>

{{#if flag}}

      <p>Click <a href="./2FA/verify">here to retry entering new time-based otp code.</a>Just Playing with it😅, because its the time-based token.</p>

  {{else}}
      <p>Click <a href="./2FA/">here to add 2-Factor Authentication from google-authenticator app.</a></p>

{{/if}}

