<div class="alert alert-info">Please enter the respective fields</div>

<form method="post">
    <fieldset class="form-group">
        
        <input name="username" id="username" required type="email" placeholder="email@email.com" />
    </fieldset>
    <fieldset class="form-group">
        
        <input name="password" id="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password"/>
    </fieldset>
    <fieldset class="form-group">
        
        <input name="confirm" id="confirm" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password" />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-info ">Register</button>
        <hr>
        Already have an account? <a href="/login" title="Login">Login</a>
    </fieldset>
</form>