<h1>{{Title}}</h1>

{{#if messages}}
<div class="alert alert-danger">
    {{messages}}
</div>
{{/if}}


<form method="post">
    <fieldset class="form-group">
        <label for="qrCode" class="col-2 control-label">QR Code: </label>
        <img src = "{{ qrImage }}" />
    </fieldset>
    <fieldset class="form-group">
        <label for="code" class="col-2 control-label">Please enter code from your google authenticator app: *</label>
        <input name="code" id="code" type="text" required />
        <input type="hidden" name="key" id="key" value="{{key}}">
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-info offset-2">Submit</button>
    </fieldset>
</form>