<h2 class="alert alert-success">{{title}}</h2>

{{#if messages}}
<div class="alert alert-danger">
    {{messages}}
</div>
{{/if}}


<form method="post">
    <fieldset class="form-group">
        <label for="qrCode" class="col-2 control-label">Scan this QR Code from your app: </label>
        <img src = "{{ qrImage }}" />
    </fieldset>
    <fieldset class="form-group">
        <label for="enteredCode" class="col-2 control-label">Please enter code from your google authenticator app: </label>
        <input name="enteredCode" id="enteredCode" type="text" required placeholder="6-digit code or token" />
        <input type="hidden" name="key" id="key" value="{{secretKey}} ">
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-info offset-2">Submit</button>
        <hr>
        <p>Already the account is added in the app? Click <a href="../2FA/verify">here to enter the code directly.</a></p>  
    </fieldset>
</form>